*.swp
main.aux
main.bbl
main.bcf
main.bib
main.blg
main.glg
main.glo
main.gls
main.glsdefs
main.idx
main.ilg
main.ind
main.lof
main.log
main.lot
main.mw
main.nlo
main.nls
main.run.xml
main.toc
main.xdy

